*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
 background-image: url(/images.jpg);
 height: 100vh; 
 font-family: "Edu AU VIC WA NT Hand", cursive;
 font-weight: 600;
}
#textos{
  background-color: rgba(0, 0, 0, 0.5) ;
  margin: 10px;
  border-radius: 15px;
  padding: 35px;
}
h1{
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  padding: 25px;
  text-shadow: 4px 4px 5px orangered;
  color: linen;
}
p{
  text-align: center;
  color: snow;
  font-size: 20px;
  font-weight: 700;
}
#videoText{
  color: black;
}
#videoDiv{
  height: 80%;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 20px;
}
#videoCumple{
  width: 90%;
  height: 100%;
}
h2{
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  padding: 15px;
  color: snow;
}
h3{
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  padding: 1px;
  color: orangered;
}
#regaloText{
  color: black;
}
#regaloDiv{
  height: 50%;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 20px;
  position: relative;
  margin: auto;
}
#regalo{
  position: absolute;
  width: 320px;
  height: 320px;
  transition-property: transform, opacity ;
  transition-duration: 2.5s;
  z-index: 1;
}
#gatoRegalo{
  width: 200px;
  position: absolute;
  margin: auto;
  z-index: 0;
}